.container{
    margin:auto;
    width:600px;
    height: auto;
    background-color:darkgrey;
}

.heading{
    margin-left: 150px;
    display: flex;
    flex-direction: row;
}

.heading-img{
    border:3px solid #555;
    border-radius: 30px;
    margin-left: 30px;
    width:50px;
    height:50px;
    background-color: violet;
}
.heading-text{
    color: red;
    font-size: 40px;
}

.p-text{
    font-size: 15px;
    color: white;
}

.row-1{
    margin-top:40px;
    margin-left: 100px;
    margin-right: 100px;
    border-collapse: separate;
    border-spacing: 0 15px;
}

.card-1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    text-align: center;
    color: white;
    background-color: orange;
    width: 50%;
}
.card-2{
    margin-right: 100px;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: center;
    background-color: lightblue;
    width: 50%;
}
.card-3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    color: white;
    background-color:lightcoral;
}
.card-4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    color: white;
    background-color:lightskyblue;
}
.card-5{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    color: white;
    background-color:lightcoral;
    text-align: center;
}
.card-6{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    color: white;
    background-color:orange;
    text-align: center;
}
.card-7{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    color: white;
    background-color:lightskyblue;
}
.card-8{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    color: white;
    background-color:orange;
}
.card-9{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    color: white;
    background-color:lightcoral;
    text-align: center;
}
.card-10{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    color: white;
    background-color:orange;
    text-align: center;
}